{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      <div style="border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; padding: 30px 0; margin: 20px 0 50px; " >
        <p style="text-align: center; font-size: 18px">
          オープンデータを登録する方は、こちら。<br>(アカウントをお持ちの方)<br>
        </p>
        {% block login_button %}
        <p class="action" style="text-align: center; margin: 20px 0;">
          <a class="btn btn-primary" href="{{ h.url_for('/oidc/login') }}" style="font-size: 15px; padding: 8px 18px;"> オープンデータを登録</a>
        </p>
        {% endblock %}
     </div>

      {% block form %}
        {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block help_login %}
  <section class="module module-narrow module-shallow">
    {% block help_login_inner %}
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      ログインについて
    </h2>
    <div class="module-content">
      <p>
         アカウントをお持ちでない方、 <br>アカウント情報を修正したい方は、こちら。
      </p>
      <p class="action">
        {% block account_create_button %}
        <a class="btn btn-success" href="{{ h.url_for('user.register') }}">アカウントを作成・修正</a>
        {% endblock %}
      </p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
