{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
      {% endblock %}
      <p class="action" style="border-top: 1px dotted #ddd; margin: 30px 0; padding: 40px 0 0; text-align: center;">
        {% block login_button %}
        <a class="btn btn-primary" href="{{ h.url_for('/oidc/login') }}" style="font-size: 15px; padding: 8px 18px;">金沢市認証基盤アカウントでログイン</a>
        {% endblock %}
      </p>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block help_login %}
  <section class="module module-narrow module-shallow">
    {% block help_login_inner %}
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      ログインについて
    </h2>
    <div class="module-content">
      <p>
        下記のアカウントでログインできます。<br><br>- CKANアカウント<br>- 金沢市認証基盤アカウント<br><br>金沢市認証基盤アカウントをお持ちでない方は下記のボタンから作成を行ってください。
      </p>
      <p class="action">
        {% block account_create_button %}
        <a class="btn btn-success" href="{{ h.url_for('user.register') }}">アカウントを作成</a>
        {% endblock %}
      </p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
